


 
 <table *ngIf="record" width="90%" border="1" style="border-collapse: collapse;background-color: coral;margin-left: 20px">
  <tbody>
   
    <tr>
      <td>User Id</td>
      <td>{{record.user_id}}</td>
     
    </tr>
    <tr>
      <td>Name</td>
      <td>{{record.user_name}}</td>
   
    </tr>
    <tr>
      <td>Mobile</td>
      <td>{{record.user_mobile_no}}</td>
    
    </tr>
    
     <tr>
      <td>Address</td>
      <td>{{record.user_address}}</td>
    
    </tr>
  </tbody>
</table>







